.menu
  ul
    display none
    &.active
      display block
      position fixed
      top 0
      bottom 0
      left 0
      right 0
      padding 25px 35px 0 0
      background #fff
      text-align right
      li
        padding 20px 0
        font-size 18px
  li
    display block
    #cross
      display none
      
  .icon
    width 28px
    
  .menu-img-wrap
    float right
    margin 45px 35px 0 0

.pics
  ul
    font-size 0
  img
    width 100%