nav li {
  margin-right: 25px;
  font-size: 13px;
}

nav li a.active {
  font-weight: bold;
}

.page-footer {
  margin: 40px 0 10px;
  text-align: center;
}

.menu h1,
.menu ul,
.menu li {
  display: inline-block;
}

.pics td div {
  position: relative;
  overflow: hidden;
}

.pics td div p {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background: rgba(22, 22, 22, 0);
  color: transparent;
}

.pics td div p:hover {
  background: rgba(22, 22, 22, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
